@page "/detalle-estudiante/{EstudianteId:int}"
@layout AdminLayout
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (estudiante == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <EditForm Model="estudianteUpdateModel" OnValidSubmit="GuardarCambios">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <h3>Detalles del Estudiante</h3>
            <div class="form-group">
                <label>Nombre:</label>
                <InputText @bind-Value="estudianteUpdateModel.nombre_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <InputText @bind-Value="estudianteUpdateModel.apellidos_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Cédula:</label>
                <InputText @bind-Value="estudianteUpdateModel.cedula_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Edad:</label>
                <InputNumber @bind-Value="estudianteUpdateModel.edad_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Correo:</label>
                <InputText @bind-Value="estudianteUpdateModel.correo_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Celular:</label>
                <InputText @bind-Value="estudianteUpdateModel.celular_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Teléfono:</label>
                <InputText @bind-Value="estudianteUpdateModel.telefono_usuario" class="form-control" />
            </div>
            <div class="form-group">
                <label>Tipo de Estudiante:</label>
                <InputText @bind-Value="estudianteUpdateModel.tipo_estudiante" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <button type="button" class="btn btn-danger" @onclick="EliminarEstudiante">Eliminar</button>
            <button type="button" class="btn btn-secondary" @onclick="VerCursosInscritos">Ver Cursos Inscritos</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int EstudianteId { get; set; }

    private EstudianteConDetalles estudiante;
    private EstudianteConNombre estudianteUpdateModel;

    protected override async Task OnInitializedAsync()
    {
        estudiante = await Http.GetFromJsonAsync<EstudianteConDetalles>($"http://localhost:5117/api/Estudiante/DetallesEstudiante/{EstudianteId}");

        estudianteUpdateModel = new EstudianteConNombre
            {
                id_estudiante = estudiante.id_estudiante,
                nombre_usuario = estudiante.nombre_usuario,
                apellidos_usuario = estudiante.apellidos_usuario,
                cedula_usuario = estudiante.cedula_usuario,
                edad_usuario = estudiante.edad_usuario,
                correo_usuario = estudiante.correo_usuario,
                celular_usuario = estudiante.celular_usuario,
                telefono_usuario = estudiante.telefono_usuario,
                tipo_estudiante = estudiante.tipo_estudiante
            };
    }

    private async Task GuardarCambios()
    {
        var response = await Http.PutAsJsonAsync($"http://localhost:5117/api/Estudiante/{EstudianteId}", estudianteUpdateModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/estudiantes");
        }
        else
        {
            // Manejar el error
        }
    }

    private async Task EliminarEstudiante()
    {
        var response = await Http.DeleteAsync($"http://localhost:5117/api/Estudiante/{EstudianteId}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/estudiantes");
        }
        else
        {
            // Manejar el error
        }
    }

    private void VerCursosInscritos()
    {
        NavigationManager.NavigateTo($"/cursos-inscritos/{EstudianteId}");
    }
}
