.fondo-encabezado {
    position: relative;
    left: 0;
    top: 0;
    width: 100%; /* Se extiende a lo ancho del contenedor */
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido al final */
    padding-right: 20px; /* Añadir algo de espacio desde el borde derecho */
}

.encabezado {
    display: flex;
    align-items: center;
}

.nombre-usuario {
    color: #000;
    font-size: 16px;
    line-height: 125%;
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    margin-right: 10px; /* Espacio entre el nombre y el icono */
}

.icono-cerrar-sesion {
    cursor: pointer;
    font-size: 16px; /* Coincide con el tamaño de la fuente del nombre de usuario */
    color: #000;
}
