<!-- NavBar Instructor -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LudoLab ConnectSys Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    <div class="nav-item px-3">
        <a class="nav-link" href="#" @onclick="ToggleCursosMenu">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cursos
        </a>
        @if (isCursosMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="cursos-disponibles-instructor">Registrarse en Curso</NavLink>
            </div>
            <div class="sub-menu">
                <NavLink class="nav-link" href="cursos-inscritos">Mis Cursos</NavLink>
            </div>
        }
    </div>

</div>


@code {
    private bool collapseNavMenu = false;
    private bool isCursosMenuVisible = false;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleCursosMenu()
    {
        isCursosMenuVisible = !isCursosMenuVisible;
    }


}