.fondo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}



.rectangle4 {
    position: relative; /* Esto ya está establecido, es correcto */
    left: 10px;
    top: 10px;
    width: 1150px;
    height: 833px;
    outline: solid 1px #000;
    outline-style: dashed;
    border-radius: 50px;
    background-color: #fff;
    z-index: 1; /* Asegúrate de que este es el nivel base */
}

.contenido-insertado {
    position: absolute; /* Mantiene el contenido absolutamente posicionado */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado exacto */
    width: 100%; /* Ocupa el ancho total del contenedor .rectangle4 */
    height: auto; /* Altura según el contenido */
    z-index: 2; /* Z-index para asegurar que está sobre el fondo pero debajo del título */
    padding: 20px; /* Añadir algo de padding si es necesario */
}

.registro-de-usuario {
    color: #000;
    font-size: 24px;
    line-height: 18px;
    font-weight: 500;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: 0.03em;
    position: absolute;
    left: 50%; /* Centrar horizontalmente */
    top: 20px; /* Posicionar en la parte superior dentro de .rectangle4 */
    transform: translateX(-50%); /* Ajuste fino para centrar exactamente */
    z-index: 3; /* Asegúrate de que el título esté sobre el contenido */
    width: 268px;
    height: 47px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

