@page "/studentDashboard"
@layout EstudianteLayout
@attribute [Authorize(Roles = "Estudiante")]
@using Microsoft.AspNetCore.Authorization

<h3>Estudiante Dashboard</h3>
<p>Bienvenido al panel de estudiante.</p>