@page "/editar-curso/{CursoId:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Editar Curso</h3>

@if (curso == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <EditForm Model="curso" OnValidSubmit="GuardarCambios">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="nombre">Nombre del curso:</label>
            <InputText id="nombre" class="form-control" @bind-Value="curso.nombre_curso" />
        </div>
        <div class="form-group">
            <label for="tipo">Tipo del curso:</label>
            <InputText id="tipo" class="form-control" @bind-Value="curso.tipo_curso" />
        </div>
        <div class="form-group">
            <label for="horas">Horas del curso:</label>
            <InputNumber id="horas" class="form-control" @bind-Value="curso.horas" />
        </div>
        <div class="form-group">
            <label for="modalidad">Modalidad:</label>
            <InputSelect id="modalidad" class="form-control" @bind-Value="curso.Modalidad_id_modalidad">
                <option value="">Seleccione una modalidad</option>
                @foreach (var modalidad in modalidades)
                {
                    <option value="@modalidad.id_modalidad">@modalidad.nombre_modalidad</option>
                }
            </InputSelect>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int CursoId { get; set; }

    private Curso curso;
    private List<Modalidad> modalidades = new List<Modalidad>();

    protected override async Task OnInitializedAsync()
    {
        modalidades = await Http.GetFromJsonAsync<List<Modalidad>>("http://localhost:5117/api/Modalidad");
        curso = await Http.GetFromJsonAsync<Curso>($"http://localhost:5117/api/Curso/{CursoId}");
    }

    private async Task GuardarCambios()
    {
        var response = await Http.PutAsJsonAsync($"http://localhost:5117/api/Curso/{CursoId}", curso);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/cursos");
        }
        else
        {
            // Manejar el error
        }
    }
}
