@using LudoLab_ConnectSys_Frontend.Areas.Administracion.Components
@using LudoLab_ConnectSys_Frontend.Areas.Estudiante.Components
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
         <NavMenuAdmin />  
        <!--<NavMenuEstudiante />-->
    </div>

    <main>
        <div class="encabezado">
            <Encabezado />
        </div>

        <article class="content px-4">
            <SweetAlert />
            @Body
        </article>
    </main>
</div>

