@page "/cursos-inscritos-instructor/{InstructorId:int}"
@layout AdminLayout
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Detalles de Cursos del Instructor</h3>

@if (instructor == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div>
        <h4>Cursos, Periodos y Grupos</h4>
        @if (instructor.grupos != null && instructor.grupos.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID del Grupo</th>
                        <th>Nombre del Grupo</th>
                        <th>Nombre del Curso</th>
                        <th>Nombre del Periodo</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < instructor.grupos.Count; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@instructor.grupos[i]</td>
                            <td>@instructor.cursos[i]</td>
                            <td>@instructor.periodos[i]</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p><em>No hay información disponible.</em></p>
        }
    </div>
}

@code {
    [Parameter]
    public int InstructorId { get; set; }

    private InstructorConDetalles instructor;

    protected override async Task OnInitializedAsync()
    {
        instructor = await Http.GetFromJsonAsync<InstructorConDetalles>($"http://localhost:5117/api/Instructor/CursosInstructorById/{InstructorId}");
    }
}
