body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* Remove default margin */
    height: 100vh;
    /* Full height */
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.container {
    width: auto;
    /* Adjust width as needed */
    max-width: 960px;
    /* Maximum width */
}

.centered-image {
    width: 552px;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.centered-text {
    text-align: center;
    /* Centra el texto horizontalmente */
}

.button-primary-custom {
    border: 1px solid #000000;
    border-radius: 40px;
}

.button-secondary-custom {
    border: 1px solid #F28D1E;
    border-radius: 40px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* Esto hace que el div sea un círculo */
    display: inline-block;
}

.bg-primary {
    background-color: #1CA3DE !important;
    /* Azul, o elige tu propio color */
}

.bg-warning {
    background-color: #F28D1E !important;
    /* Amarillo, o elige tu propio color */
}
