@inject NavigationManager NavigationManager
@page "/"

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="img/logo-ludolab.png" alt="Logo Ludolab" class="centered-image">
            </div>
        </div>
        <h1 class="centered-text">
            LudoLab ConnectSys
        </h1>

        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="circle bg-primary"></div>
                </div>
                <div class="col-auto">
                    <div class="circle bg-warning"></div>
                </div>
                <div class="col-auto">
                    <div class="circle bg-primary"></div>
                </div>
                <div class="col-auto">
                    <div class="circle bg-warning"></div>
                </div>
                <div class="col-auto">
                    <div class="circle bg-primary"></div>
                </div>
            </div>
        </div>
        

        <p class="centered-text">
            Sistema informático para la gestión de eventos de formación y servicio a la comunidad del
            Laboratorio LudoLab
        </p>

        <div class="row">
            <button @onclick="NavigateToLogin" class="col btn btn-light button-primary-custom text-black mx-1">Ya tengo una cuenta</button>
            <button @onclick="NavigateToRegister" class="col btn bg-warning button-secondary-custom text-white mx-4">Registrarse</button>
        </div>
    </div>
</body>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}
