.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.content-overlay {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Separación entre contenedores */
}

.row.equal-height {
    display: flex;
}

.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fluid {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black; /* Asegura que el color del texto sea negro */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    text-align: center; /* Centra el texto horizontalmente */
}

.btn-secondary {
    color: #fff;
    margin-top: 10px;
}

form .form-label {
    text-align: left;
    width: 100%;
}

.shadow-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-box:last-of-type {
    margin-bottom: 60px; /* Espacio adicional entre el contenedor inferior y el fondo de la pantalla */
}

.btn-register {
    width: auto;
    background-color: #1CA3DE;
    border-color: #1CA3DE;
    padding: 0.5rem 1rem; /* Ajusta el padding según sea necesario */
}
