@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenuAdmin />
    </div>

    <main>
        <div class="encabezado">
            <Encabezado />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

