﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LudoLab ConnectSys</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleCursosMenu">
            <span class="bi bi-bank2" aria-hidden="true"></span> Cursos
        </a>
        @if (isCursosMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="crear-curso">Crear Curso</NavLink>
            </div>

            <div class="sub-menu">
                <NavLink class="nav-link" href="cursos">Todos los Cursos</NavLink>
            </div>
           
            <div class="sub-menu">
                <NavLink class="nav-link" href="periodos">Todos los Periodos</NavLink>
            </div>
        }
    </div>

    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleGruposMenu">
            <span class="bi bi-book" aria-hidden="true"></span> Grupos
        </a>
        @if (isGruposMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="/crear-grupos">Crear Grupos</NavLink>
            </div>

            <div class="sub-menu">
                <NavLink class="nav-link" href="/grupos-existentes">Todos los grupos</NavLink>
            </div>
        }
    </div>

    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleUsuariosMenu">
            <span class="bi bi-person" aria-hidden="true"></span> Usuarios
        </a>
        @if (isUsuariosMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="registrar-usuario">Registrar Usuario</NavLink>
            </div>
            <div class="sub-menu">
                <NavLink class="nav-link" href="approve-users">Aprobar Usuarios</NavLink>
            </div>
        }
    </div>

    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleEstudiantesMenu">
            <span class="bi bi-person-fill" aria-hidden="true"></span> Estudiantes
        </a>
        @if (isEstudiantesMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="estudiantes">Todos los estudiantes</NavLink>
            </div>
            <div class="sub-menu">
                <NavLink class="nav-link" href="matricular-estudiante">Inscribir estudiante</NavLink>
            </div>
        }
    </div>

    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleInstructoresMenu">
            <span class="bi bi-person-badge" aria-hidden="true"></span> Instructores
        </a>
        @if (isInstructoresMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="instructores">Todos los Instructores</NavLink>
            </div>
            <div class="sub-menu">
                <NavLink class="nav-link" href="/registrar-instructor">Registrar Instructor</NavLink>
            </div>
        }
    </div>



    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleCertificateMenu">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Certificados
        </a>
        @if (isCertificateMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="tutor"><span class="sub-menu-icon">&#8594;</span> Instructores</NavLink>
            </div>
            <div class="sub-menu">
                <NavLink class="nav-link" href="student"><span class="sub-menu-icon">&#8594;</span> Estudiantes</NavLink>
            </div>
        }
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="informe-practicas">
            <span class="bi bi-file-earmark-text" aria-hidden="true"></span> Informes de Prácticas
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="generar-reportes">
            <span class="bi bi-bar-chart " aria-hidden="true"></span> Reportes
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="generar-reportecompleto">
            <span class="bi bi-bar-chart " aria-hidden="true"></span> Reportes compl
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="resultados-encuestas">
            <span class="bi bi-clipboard-check" aria-hidden="true"></span> Encuestas
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link"  @onclick="ToggleRepositorioMenu">
            <span class="bi bi-share-fill" aria-hidden="true"></span> Repositorio
        </a>
        @if (isRepositorioMenuVisible)
        {
            <div class="sub-menu">
                <NavLink class="nav-link" href="repositorio">Subir Archivo</NavLink>
            </div>

        }
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="audit-logs">
            <span class="bi bi-clipboard-check" aria-hidden="true"></span> Auditoria
        </NavLink>
    </div>
</div>


@code {
    private bool collapseNavMenu = false;
    private bool isEstudiantesMenuVisible = false;
    private bool isCursosMenuVisible = false;
    private bool isCertificateMenuVisible = false;
    private bool isRepositorioMenuVisible = false;
    private bool isUsuariosMenuVisible = false;
    private bool isInstructoresMenuVisible = false;
    private bool isGruposMenuVisible = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleEstudiantesMenu()
    {
        isEstudiantesMenuVisible = !isEstudiantesMenuVisible;
    }

    private void ToggleCursosMenu()
    {
        isCursosMenuVisible = !isCursosMenuVisible;
    }
    private void ToggleCertificateMenu()
    {
        isCertificateMenuVisible = !isCertificateMenuVisible;
    }
    private void ToggleRepositorioMenu()
    {
        isRepositorioMenuVisible = !isRepositorioMenuVisible;
    }

    private void ToggleUsuariosMenu()
    {
        isUsuariosMenuVisible = !isUsuariosMenuVisible;
    }

    private void ToggleInstructoresMenu()
    {
        isInstructoresMenuVisible = !isInstructoresMenuVisible;
    }

    private void ToggleGruposMenu()
    {
        isGruposMenuVisible = !isGruposMenuVisible;
    }


}